<header>
    <!-- este es un partial -->
    <a href="/">Cargar proveedor</a>
    <a href="/crearUsuario">Crear usuario</a>
    <a href="/cargarProductos">Cargar Productos</a>
    <a href="/logout">Logout</a>
</header>