:root {
    --color1: #dba171;
    --color2:  #99e1a5;
    --color3:  lightgray;
    --color4: rgba(0, 0, 0, 0.5);
    --color5: #fff;
    --color6: #4CAF50;
    --color7: #45a049;
}



body {
    background-color: lightgray;
    margin: 0 auto;
    
}

header {
    height: 80px;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}

.form-table {
    width: auto;
    margin: 0 auto;
    border-collapse: collapse;
    
   
}

.form-table tr:nth-child(even) {
    background-color: var(--color2); /* Color para filas pares */
}

.form-table tr:nth-child(odd) {
    background-color: var(--color1); /* Color para filas impares */
}
.form-table th {
    background-color: var(--color2);
     padding: 20px 50px; 
    font-size: 1.5rem;
    height: 40px;
    border: 1px solid rgb(102, 183, 120);
}
.form-table td, 
.form-table th {
    padding: 2px 5px; /* Reducir el padding para hacer las filas más delgadas */
    font-size: 1.5rem;  /* Ajustar el tamaño de la fuente si es necesario */
    text-align: center;
}

.form-table h2 {
    margin: 0;
    font-size: 1.5rem
}

.submit-row {
    text-align: center;
}

.buttonEnviar {
    display: block;
    padding: 5px 20px;
    font-size: 1.5rem;
    background-color: var(--color6);
    color: white;
    border: none;
    cursor: pointer;
    margin: 15px auto;
    

}

button:hover {
    background-color: var(--color7);
}

/* Estilos básicos para el cuadro de diálogo */
.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.dialog-content {
    width: 60%;
    background-color: var(--color5);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

#inputMinimoOrdenDialog {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
 select {
    width: 100%;
    text-align: center;
 }

 .btn-actualizar, .btn-eliminar {
    
        padding: 5px 20px;
        font-size: 1rem;
        background-color: var(--color6);
        color: white;
        border: none;
        cursor: pointer;
        margin: 3px;
    
 }

 #form-invitado {
    display: block;
    margin: 0 auto;
 }


 #fotoProveedor {
    display: block;
    margin:  0 auto;
 }

/***************************************** 
--- Puntos de corte (Media Queries) --- 
*****************************************/

@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
    }
    
    header {
        font-size: 1.5rem;
        padding: 10px;
    }

    .form-table th, .form-table td {
        font-size: 1.5rem;
        padding: 5px 2px;
    }

    .dialog-content {
        width: 95%;
        padding: 15px;
    }

    

    #inputMinimoOrdenDialog {
        width: 100%;
    }

    input, select { 
        font-size: 1.2rem; 
    }

}
/*media querys+++++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        font-size: 1.5rem;
        padding: 12px;
    }

    .form-table th, .form-table td {
        font-size: 1.5rem;
        padding: 5px;
    }

    .dialog-content {
        width: 70%;
        padding: 8px;
    }

    

    #inputMinimoOrdenDialog {
        width: 95%;
    }

    input, select { /* Aquí también ajustas para pantallas grandes */
        font-size: 1.5rem; /* Agranda el texto en pantallas grandes */
    }
}

@media only screen and (min-width: 1025px) {
    header {
        font-size: 1.8rem;
    }

    .form-table th, .form-table td {
        font-size: 1.5rem;
        
    }

    .dialog-content {
        width: 70%;
        padding: 25px;
    }

    

    #inputMinimoOrdenDialog {
        width: 90%;
    }

    input, select { /* Aquí también ajustas para pantallas grandes */
        font-size: 1.5rem; /* Agranda el texto en pantallas grandes */
    }

    
}
