<%- include('partials/head.ejs') %>

    <title>Ingresar Proveedores</title>
    
</head>
<body>

    <%- include('partials/header.ejs') %>
    <div class="form-container">
        <form action="/postProveedor" method="post"  enctype="multipart/form-data">
            <table class="form-table">
                <tr>
                    <td><label for="nombreProveedor"><h2>Compañía</h2></label></td>
                    <td><input type="text" name="nombreProveedor" id="nombreProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="contactoProveedor"><h2>Contacto</h2></label></td>
                    <td><input type="text" name="contactoProveedor" id="contactoProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="passwordProveedor"><h2>Password</h2></label></td>
                    <td><input type="password" name="passwordProveedor" id="passwordProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="celularProveedor"><h2>Celular</h2></label></td>
                    <td><input type="tel" name="celularProveedor" id="celularProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="emailProveedor"><h2>Mail</h2></label></td>
                    <td><input type="email" name="emailProveedor" id="emailProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="webProveedor"><h2>Web</h2></label></td>
                    <td><input type="text" name="webProveedor" id="webProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="ordenProveedor"><h2>Mínimo de orden</h2></label></td>
                    <td>
                        <select name="ordenProveedor" id="ordenProveedor" required>                        
                            <option><h3>Selecionar</h3></option>
                            <option value="No"><h3>No</h3></option>
                            <option value="Si"><h3>Si</h3></option>
                        </select>
                        <input type="hidden" name="minimoOrdenInput" id="minimoOrdenInput">
                    </td>
                </tr>
                <tr>
                    <td><label for="paisProveedor"><h2>País</h2></label></td>
                    <td>
                        <select name="paisProveedor" id="paisProveedor" required>
                            <% paises.forEach(pais => { %>
                                <option value="<%= pais.id %>"><%= pais.nombre %></option>
                            <% }) %>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td><label for="tipoProveedor"><h2>Tipo</h2></label></td>
                    <td>
                        <select name="tipoProveedor" id="tipoProveedor" required>
                            <option value="fabricante"><h3>Fabricante</h3></option>
                            <option value="vendedor"><h3>Vendedor</h3></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="condicionDeVenta"><h2>Condición de venta</h2></label></td>
                    <td>
                        <select name="condicionDeVenta" id="condicionDeVenta" required>
                            <option value="FOB"><h3>FOB</h3></option>
                            <option value="FCA"><h3>FCA</h3></option>
                            <option value="CIF"><h3>CIF</h3></option>
                            <option value="EXW"><h3>EXW</h3></option>
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="lugarDeEntrega"><h2>Lugar de entrega</h2></label></td>
                    <td><input type="text" name="lugarDeEntrega" id="lugarDeEntrega" required></td>
                </tr>
            </table>    <br><br>
            
            <!-- <form action="/cargarProductos">
                <input type="button" value="Cargar Productos">
            </form><br><br> -->
                
            <input type="file" name="fotoProveedor" id="fotoProveedor" accept="image/*" capture="camera"><br>
                <br><br>
                
                    
            <button type="submit" class="buttonEnviar">Enviar</button>
                
                
            
        </form>
    </div>
    <br><br>

     <a href="/validarProveedor">Cargar productos</a>


    <div id="dialogMinimoOrden" class="dialog">
        <div class="dialog-content">
            <span class="close-btn" id="closeDialog">&times;</span>
            <h2>Ingrese el mínimo de orden</h2>
            <input type="number" id="inputMinimoOrdenDialog" min="0">
            <button id="guardarMinimoOrden">Guardar</button>
        </div>
    </div>
    
    <% if (esAdmin) { %> <!-- Solo muestra el listado si el usuario es administrador -->
        <div id="listadoProveedores">
            <h2>Lista de Proveedores</h2>

            <table id="tablaProveedores" class="form-table">
                <thead>
                    <tr>
                        <th>Compañía</th>
                        <th>Contacto</th>
                        <th>Celular</th>
                        <th>Mail</th>
                        <th>Web</th>
                        <th>Mínimo de orden</th>
                        <th>País</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Condición de venta</th>
                        <th>Lugar de entrega</th>
                        <th>Foto</th>
                        <th>Acción</th>                        
                    </tr>
                </thead>
                <tbody id="proveedoresBody">
                    <!-- Proveedores se agregarán aquí dinámicamente -->
                </tbody>
            </table>
            <button id="cargarMas" type="button" class="buttonEnviar">Mostrar más</button>
        </div>
    <% } %>
        <br>
    <button onclick="window.location.href='/exportarProveedores'" class="buttonEnviar">Descargar Excel Proveedores</button>
    <button onclick="window.location.href='/exportarProductos'" class="buttonEnviar">Descargar Excel Productos</button>
    

    <script>
        const params = new URLSearchParams(window.location.search);
        const successMessage = params.get('success');
        if (successMessage) {
          alert(successMessage); // Mostrar el alert
        }
    </script>

    <script src="/js/proveedores.js"></script>
    <script src="/js/cargaMinima.js"></script>
    
</body>
</html>
