<%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <form action="/crearUsuario" method="post">
        <label for="nombre"><h2>Nombre</h2>
            <input type="text" name="nombre">
        </label>
        <label for="password"><h2>Contraseña:</h2>
            <input type="password" name="password">
        </label>
        <label for="rol">
            <h2>Rol:</h2>
            <select name="rol" id="rol" required>
                <option value="admin">Administrador</option>
                <option value="invitado">Invitado</option>
            </select>
        </label><br><br>
        <input type="submit" value="Crear Usuario">
    </form>
</body>
</html>
